/**********************************************************************\

Styles for Blank Aspect project manuals

\**********************************************************************/

@import url("blankaspect-common.css");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,400;0,700;1,400;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap");

.monospace {
  font-family: "Roboto Mono", monospace;
}

a.command, span.command {
  font-style: italic;
}

body {
  font-family: "Roboto", sans-serif;
  line-height: 166.7%;
}

code, code:link, code:visited {
  font-family: "Roboto Mono", monospace;
  border: 0.1px solid;
  padding-left: 0.25em;
  padding-right: 0.25em;
}

code.noBackground {
  background-color: inherit;
}

div.commandLine {
  border: 1px solid;
  margin: 0.4em 0;
  padding: 0.4em 0.6em;
  font-size: 100%;
}

div.commandSyntax {
  border: 1px solid;
  padding-top: 0.4em;
  padding-bottom: 0.4em;
}

div.notes h3 {
  margin-top: 2.5em;
  margin-bottom: 0.6em;
  padding-bottom: 0.1em;
  border-bottom: 1px solid;
}

div.preferences {
  display: table;
  border-collapse: collapse;
  width: 95%;
  margin: 1.0em 2.5%;
}
div.preferences > div {
  display: table-row;
}
div.preferences > div > div {
  display: table-cell;
  border: 1px solid;
  padding: 0.15em 0.6em;
}
div.preferences > div > div.sectionTitle {
  font-weight: bold;
}
div.preferences dd {
  margin: 0 1.0em;
}
div.preferences dd.spaceAbove {
  padding-top: 0.4em;
}
div.preferences dl {
  margin: 0.5em 0;
}
div.preferences dt {
  margin: 0;
  padding-bottom: 0.2em;
  font-weight: bold;
}
div.preferences dl.inner1 dd {
  margin-bottom: 0.5em;
}
div.preferences dl.inner1 dt {
  line-height: normal;
  font-weight: normal;
  font-style: italic;
}

div.spacer {
  margin: 0.5em 0 0 0;
}

ol {
  margin-left: -0.7em;
}

ol.notes {
  font-size: 83%;
}

pre.codeFragment {
  display: table-cell;
  border: 1px solid;
  font-family: "Roboto Mono", monospace;
  line-height: 133.3%;
  padding: 0.5em 0.8em;
}

table.basic {
  line-height: 125%;
  margin: 1.0em 2.5% 0.8em 2.5%;
}
table.basic td {
  border: 1px solid;
  padding: 0.3em 0.6em;
}

table.commandLine {
  margin: 0.5em 1.0em;
}
table.commandLine td {
  padding: 0.3em 0.6em;
}
table.commandLine td.command {
  border: 1px solid;
}
table.commandLine td.system {
  text-align: right;
}

table.configProperties {
  line-height: 125%;
  margin: 0.3em 2.5%;
}
table.configProperties td {
  border: 1px solid;
  padding: 0.2em 0.6em;
}
table.configProperties td.propertyValue {
  font-size: 82%;
  padding-left: 0.8em;
}
table.configProperties th {
  vertical-align: bottom;
  border: 1px solid;
  padding: 0.2em 0.6em;
}

table.dataStructure {
  line-height: 125%;
  margin: 1.0em 2.5% 0.8em 2.5%;
}
table.dataStructure .shaded1 {
  vertical-align: top;
  white-space: nowrap;
}
table.dataStructure .shaded2 {
  vertical-align: top;
  white-space: nowrap;
}
table.dataStructure td {
  border: 1px solid;
  padding: 0.2em 0.6em;
}
table.dataStructure td.name {
  font-style: italic;
}
table.dataStructure th {
  border: 1px solid;
  padding: 0.2em 0.6em;
}

table.distribution {
  margin: 0.8em 2.5%;
}
table.distribution td {
  border: 1px solid;
  padding: 0.2em 0.6em;
  vertical-align: top;
}
table.distribution td.file {
  white-space: nowrap;
}

table.dataType {
  margin-top: 0.3em;
  margin-left: 1.0em;
}
table.dataType td {
  padding: 0.1em 0.3em;
}

ul {
  margin-left: -1.0em;
}

@media (prefers-color-scheme: light) {
  a {
    color: #0000A0;
  }
  a.command, span.command {
    color: #8C4818;
  }
  a.component, span.component {
    color: #800080;
  }
  a.configProperty, span.configProperty {
    color: #009000;
  }

  code, code:link, code:visited {
    color: #004060;
    background-color: #E8E8E8;
    border-color: #E0E0E0;
  }

  div.commandLine {
    color: #404040;
    background-color: #ECF0F8;
    border-color: #D4D8E0;
  }

  div.commandSyntax {
    background-color: #FCFAE8;
    border-color: #E8E6CC;
  }

  div.notes h3 {
    border-bottom-color: #B4B8C8;
  }

  div.preferences > div > div {
    border-color: #B4B8C8;
  }
  div.preferences > div > div.sectionTitle {
    background-color: #DEE2F0;
  }

  p.tocLink a {
    color: #700000;
  }

  pre.codeFragment {
    background-color: #F6F4DC;
    border-color: #E2E0C8;
  }

  table.basic td {
    border-color: #B4B8C8;
  }
  table.basic td.shaded {
    background-color: #F8F0D0;
    color: #004000;
  }

  table.commandLine td.command {
    color: #404040;
    background-color: #ECF0F8;
    border-color: #D4D8E0;
  }

  table.configProperties td {
    border-color: #B4B8C8;
  }
  table.configProperties td.propertyKey {
    color: #004060;
  }
  table.configProperties th {
    border-color: #B4B8C8;
  }

  table.dataStructure .shaded1 {
    background-color: #B0D0B0;
  }
  table.dataStructure .shaded2 {
    background-color: #D8D8D8;
  }
  table.dataStructure td {
    border-color: #B4B8C8;
  }
  table.dataStructure th {
    border-color: #B4B8C8;
  }

  table.distribution td {
    border-color: #B4B8C8;
  }
  table.distribution td.file {
    color: #004000;
    background-color: #F8F4D8;
  }
}

@media (prefers-color-scheme: dark) {
  a {
    color: #A0C0FC;
  }
  a.command, span.command {
    color: #90C0C8;
  }
  a.component, span.component {
    color: #C090D0;
  }
  a.configProperty, span.configProperty {
    color: #90C090;
  }

  code, code:link, code:visited {
    color: #F0F0F0;
    background-color: #383838;
    border-color: #808080;
  }

  div.commandLine {
    color: #E0E0E0;
    background-color: #382820;
    border-color: #685040;
  }

  div.commandSyntax {
    background-color: #282E28;
    border-color: #405040;
  }

  div.notes h3 {
    border-bottom-color: #B4B8C8;
  }

  div.preferences > div > div {
    border-color: #606888;
  }
  div.preferences > div > div.sectionTitle {
    background-color: #38384C;
  }

  p.tocLink a {
    color: #E08000;
  }

  pre.codeFragment {
    background-color: #402820;
    border-color: #705C50;
  }

  table.basic td {
    border-color: #606888;
  }
  table.basic td.shaded {
    background-color: #F8F0D0;
    color: #004000;
  }

  table.commandLine td.command {
    color: #404040;
    background-color: #ECF0F8;
    border-color: #D4D8E0;
  }

  table.configProperties td {
    border-color: #606888;
  }
  table.configProperties td.propertyKey {
    color: #D09078;
  }
  table.configProperties th {
    border-color: #606888;
  }

  table.dataStructure .shaded1 {
    background-color: #B0D0B0;
  }
  table.dataStructure .shaded2 {
    background-color: #D8D8D8;
  }
  table.dataStructure td {
    border-color: #606888;
  }
  table.dataStructure th {
    border-color: #606888;
  }

  table.distribution td {
    border-color: #606888;
  }
  table.distribution td.file {
    color: #FFF8C0;
    background-color: #202C40;
  }
}

/*--------------------------------------------------------------------*/
